@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add animation for the slideshow */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-200%);
  }
  85% {
    transform: translateX(-200%);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 20s infinite ease-in-out;
}

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #1d1d25;
    --global-bg-2: #2a85ff;
    --global-bg-3: #61a4ff;
    --global-bg-4: #8e59ff;
    --global-bg-5: #b0e5fc;
    --global-bg-6: #b5e4ca;
    --global-bg-7: #cabdfe;
    --global-bg-8: #e9ecf2;
    --global-bg-9: #f2f3fb;
    --global-bg-10: #f9faff;
    --global-bg-11: #ffbc99;
    --global-bg-12: #ffffff;
    
    --global-text-1: #1d1d25;
    --global-text-2: #221c4e;
    --global-text-3: #808d9e;
    --global-text-4: #82be6d;
    --global-text-5: #d3d5e3;
    --global-text-6: #e6e9ed;
    --global-text-7: #e9ecf2;
    --global-text-8: #efefef;
    --global-text-9: #f9faff;
    --global-text-10: #ff6955;
    --global-text-11: #ffd88d;
    --global-text-12: #ffffff;
    --global-text-13: #ffffff7f;
    --global-text-14: #2a85ff;
    
    /* Button Colors */
    --button-bg-1: #eafae4;
    --button-bg-2: #f7f9ff;
    --button-bg-3: #ffd88d;
    --button-text-1: #2a85ff;
    
    /* Slider Colors */
    --slider-bg-1: #f9faffab;
    --slider-text-1: #1d1d257f;
    
    /* Footer Colors */
    --footer-bg-1: #1d1d2519;
    --footer-text-1: #808d9e7f;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 { background-color: var(--global-bg-1); }
  .bg-global-2 { background-color: var(--global-bg-2); }
  .bg-global-3 { background-color: var(--global-bg-3); }
  .bg-global-4 { background-color: var(--global-bg-4); }
  .bg-global-5 { background-color: var(--global-bg-5); }
  .bg-global-6 { background-color: var(--global-bg-6); }
  .bg-global-7 { background-color: var(--global-bg-7); }
  .bg-global-8 { background-color: var(--global-bg-8); }
  .bg-global-9 { background-color: var(--global-bg-9); }
  .bg-global-10 { background-color: var(--global-bg-10); }
  .bg-global-11 { background-color: var(--global-bg-11); }
  .bg-global-12 { background-color: var(--global-bg-12); }
  
  .text-global-1 { color: var(--global-text-1); }
  .text-global-2 { color: var(--global-text-2); }
  .text-global-3 { color: var(--global-text-3); }
  .text-global-4 { color: var(--global-text-4); }
  .text-global-5 { color: var(--global-text-5); }
  .text-global-6 { color: var(--global-text-6); }
  .text-global-7 { color: var(--global-text-7); }
  .text-global-8 { color: var(--global-text-8); }
  .text-global-9 { color: var(--global-text-9); }
  .text-global-10 { color: var(--global-text-10); }
  .text-global-11 { color: var(--global-text-11); }
  .text-global-12 { color: var(--global-text-12); }
  .text-global-13 { color: var(--global-text-13); }
  .text-global-14 { color: var(--global-text-14); }
  
  /* Button */
  .bg-button-1 { background-color: var(--button-bg-1); }
  .bg-button-2 { background-color: var(--button-bg-2); }
  .bg-button-3 { background-color: var(--button-bg-3); }
  .text-button-1 { color: var(--button-text-1); }
  
  /* Slider */
  .bg-slider-1 { background-color: var(--slider-bg-1); }
  .text-slider-1 { color: var(--slider-text-1); }
  
  /* Footer */
  .bg-footer-1 { background-color: var(--footer-bg-1); }
  .text-footer-1 { color: var(--footer-text-1); }
}